greenlet
gunicorn
pycurl
rdflib
redis
requests
simplejson
stomp.py
supervisor
-e git://github.com/tatiana/tornado.git#egg=tornado
tornado-cors
ujson
jsonschema
alf
python-dateutil


sphinx
sphinx-rtd-theme
semantic_web_pygments
